*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(29, 29, 29);
}
#counter{
    background-color: rgb(71, 71, 71);
    padding: 2rem;
    border-radius: 8px;
}
#value{
    font-size: 8rem;
    color: #fff;
    min-height: 14rem;
    text-align: center;
}
button{
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

}